.main{
    z-index: -1;
  
      background-image: url('./../../../assets/home-background2.jpg');
      filter: brightness(100%);
      background-size:50%;
      background-position: center;
      height: 270px;
      display:flex;
      color: white;
      
  
      .left{
          flex: 1;
          
         img{
          margin-left: 80px;
          height:250px;
          width: 250px;
        }
      }
      .middle{
          flex: 2;
  
          h1 {
          
              text-align: center;
              font-size: 3em; 
              text-shadow: 7px 3px 4px rgba(7, 7, 7, 0.5);
          }
  
          h3 {
              text-align: center;
              font-size: 1.5em; 
              text-shadow: 7px 3px 4px rgba(7, 7, 7, 0.5);
          }
  
          .signup{
              margin-left: 300px;
              height: 10px;
          }
         
      }
      .right{
          flex: 1;
  
          img{
              margin-top: 20px;
              margin-right: 80px;
              height:220px;
              width: 220px;
            }
       
      }
  
     
  }