.container {
  display: flex;
  max-width: 100vw;
  font-family: 'Arial', sans-serif; /* Use a clean, professional font */
  color: #333; /* Darker color for text */
  background-color: #f9f9f9; /* Light background color */
}

.sidebar {
  flex: 0 0 200px; /* Set a fixed width for the sidebar */
  color: #ecf0f1; /* Light color for sidebar text */
  margin-right: 40px;
}

.body {
  flex: 1;
  padding: 20px; /* Add padding for main content */
}

.upper {
  margin: auto;
  margin-top: 80px;
  border-radius: 15px;
  background: #fff; /* White background for better contrast */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Subtle shadow for elevation */
}

.bottom {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  flex-wrap: wrap;
}


.videoSection h2 {
  color: #2c3e50;
}

.videos {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.text {
  flex: 1;
  margin: 20px;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.TextCard {
  width: 100%;
}

.error {
  color: #e74c3c; /* Red color for error messages */
  font-weight: bold;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    margin-left: 105px;
  }

  .sidebar {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .body {
    margin-left: 0;
  }

  .upper {
    margin: 10px;
  }

  .bottom {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  .videoSection {
    width: 100%;
    margin: 10px 0;
  }

  .text {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
  }
}
.textCard {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 480px) {
  .sidebar {
    flex: 0.1;
  }

  .text {
    margin: 10px 0;
  }
}
