 .header {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 2rem;
    color: white;
    background: linear-gradient(
      -45deg,
      #360a46,
      #05354e,
      #0e0157,
      #01315e,
      #210165
    );
    background-size: 400% 400%;
    animation: gradientBG 20s ease infinite;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 60px; /* Adjust height as needed */
  }
  
  .logo {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .logo img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
  
  .nav {
    list-style: none;
    display: flex;
    align-items: center;
  
    gap: 15px;
    margin-right: 10px;
  }
  
  .link {
    color: white;
    background-color: transparent;
    padding: 0.5rem 0.5rem;
    border-radius: 5px;
  }
  
  .link:hover {
    padding: .7rem  1rem;
    cursor: pointer;
    background-color: #4e80f5;
    filter: drop-shadow(0 0 30px #00c3d4);
  }
  
  .blog {
    color: white;
    background-color: #4e80f5;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  .blog:hover {
    background-color: #2d5ecf;
  }
  
  .login {
    color: white;
    background-color: #4e80f5;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  .login:hover {
    background-color: #2853b8;
  }
  
  /* header.module.css */
  
  .avatarContainer {
    position: relative;
    display: inline-block;
  }
  
  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .logoutButton {
    color: white;
    background-color: #4e80f5;
    padding: 10px 20px;
    border-radius: 5px;
    position: absolute;
    top: 60px; /* Adjust this value as needed to position below the avatar */
    left: 50%;
    transform: translateX(-50%);
    color: white;
    border: none;
    cursor: pointer;
    display: none; /* Initially hidden */
  }
  
  .avatarContainer:hover .logoutButton {
    display: block; /* Show the button when the avatar container is hovered */
  }